body {
  font-family: 'Google Sans', Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #141218;
  color: #FFFBFE;
}

.container {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #2B2930;
  padding: 20px;
}

.project-item.active {
  background-color: #4A4458;
}



#project-list {
  list-style-type: none;
  padding: 0;
}

#project-list li {
  margin-bottom: 10px;
  cursor: pointer;
}

#project-list li.active{
  background-color: #4A4458;
}




.board {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.column {
   display: inline-block;
  vertical-align: top;
  margin: 4px;
  padding: 10px;
  background-color: #2B2930;
  border-radius: 8px;
  min-height: 900px;
  max-height: 100%;
  flex: 01
}

.column h3 {
  margin: 4px 0 16px;
}

.task {
  background-color: #4A4458;
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.task h4 {
  margin: 8px 0;
  font-size: 14px;
  font-weight: 500;
}

.label {
  font-size: 12px;
  font-weight: 300;
  padding: 4px 8px;
  border-radius: 100px;
  margin: auto;
}

.due-date .material-icons {
  font-size: 16px;
}

.due-date {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: #CCC2DC;
}

#add-column-btn {
  margin-top: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #2B2930;
  margin: 15% auto;
  padding: 20px;
  width: 30%;
  border-radius: 12px;
}

.task-atributes input,
.task-atributes textarea {
  display: block;
  margin-bottom: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.context-menu {
  position: absolute;
  z-index: 9999;
  background-color: #2B2930;
  box-shadow: 0px 1.2px 18px rgba(0, 0, 0, 0.08), 0px 6.4px 28px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 8px 0;
  width: 192px;
  display: none;
}

.context-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.context-menu li {
cursor: pointer;
padding: 5px 8px;
display: flex;
align-items: center;
gap: 8px;
border-radius: 4px;
margin: 4px;
}


.modal-input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #4A4458;
  color: #FFFBFE;
  font-size: 14px;
  font-weight: 400;
}

.modal-input[type="date"]::placeholder {
  color: #FFFBFE; /* Желаемый цвет шрифта плейсхолдера */
}



.context-menu li:hover {
  background-color: #4A4458;
}

.context-menu span {
  font-size: 20px;
}

